* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family:  "Roboto", sans-serif;
    background: #f7f6ff;
  }
  
  h2 {
    margin: 16px;
  }
  
  .container {
    margin-top: 100px;
    padding: 32px;
  }

  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

#mute {

    padding: 10px 20px;
    background: #0d141f;
    color: #fff;
    border: 1px #0d141f solid;
    border-radius: 5px;
    opacity: 0.7;
    position: absolute;
    right: 20px;
   }
   #mute:hover {
    transform: scale(0.98);
   }

   
